<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">

<div id="wrapper">

    <div id="main" class="container">
        <h1>Kapcsolat</h1>

        <div th:if="${siker}" class="box" style="background:#d4edda;color:#155724;padding:15px;border-radius:5px;margin-bottom:20px;">
            Köszönjük! Az üzeneted elküldve és elmentve az adatbázisba!
        </div>

        <form th:action="@{/kapcsolat}" th:object="${uzenet}" method="post">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <input type="text" th:field="*{nev}" placeholder="Neved" required />
                    <div th:if="${#fields.hasErrors('nev')}" th:errors="*{nev}" style="color:red;"></div>
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="email" th:field="*{email}" placeholder="Email címed" required />
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></div>
                </div>
                <div class="col-12">
                    <input type="text" th:field="*{targy}" placeholder="Tárgy" required />
                    <div th:if="${#fields.hasErrors('targy')}" th:errors="*{targy}" style="color:red;"></div>
                </div>
                <div class="col-12">
                    <textarea th:field="*{szoveg}" rows="6" placeholder="Üzeneted..." required></textarea>
                    <div th:if="${#fields.hasErrors('szoveg')}" th:errors="*{szoveg}" style="color:red;"></div>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Küldés" class="primary" /></li>
                        <li><a th:href="@{/}" class="button">Vissza a főoldalra</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

</html>